@keyframes body_animate{
    0%{background-color: honeydew;}
    40%{background-color: rgb(161, 241, 197);}
}
body {
    background-color: honeydew;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    animation-name: body_animate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#links {
    text-align: center;
    padding: 0.5em;
}

#links a{
    padding: 0.5em;
    text-decoration: none;
    color: #02774c;
    transition: 0.5s;
}

#links a:hover{
    background-color: #02774c;
    border-radius: 0.3em;
    box-shadow: 0 0 10px black;
    color: honeydew;
    transition: 0.5s;
}

h2 {
    text-align: center;
    background-color: mediumaquamarine;
    color: honeydew;
    padding: 10px;
}

header {
    text-align: center;
    background: linear-gradient(90deg, #02774c, gray);
    color: honeydew;
    padding: 10px;
    margin-top: 0.9em;
}

table {
    width: 100%;

}

th {
    text-align: center
}

p {
    text-align: center;
}

footer{
    line-height: normal;
}