@keyframes body_animate{
    0%{background-color: honeydew;}
    40%{background-color: rgb(161, 241, 197);}
}
body {
    background-color: honeydew;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    animation-name: body_animate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#links {
    text-align: center;
    padding: 0.5em;
}

#links a{
    padding: 0.5em;
    text-decoration: none;
    color: #02774c;
    transition: 0.5s;
}

#links a:hover{
    background-color: #02774c;
    border-radius: 0.3em;
    box-shadow: 0 0 0.67em black;
    color: honeydew;
    transition: 0.5s;
}

h2 {
    text-align: center;
    background-color: mediumaquamarine;
    color: honeydew;
    padding: 0.63em;
    border-left: 0.28em solid rgb(10, 88, 62);
    border-radius: 0.25em;
}

header {
    text-align: center;
    background: linear-gradient(90deg, #02774c, gray);
    color: honeydew;
    padding: 0.625em;
    margin-top: 0.9em;
    border-left: 0.32em solid rgb(3, 80, 35);
    border-radius: 0.32em;
}

.flag{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0;
}

.ourNigeria{
    filter: grayscale();
    transition: 0.5s;
}

.ourNigeria:hover{
    filter: none;
    transition: 0.5s;
    box-shadow: none;
}
.flag figure figcaption{
    margin-top: 1em;
}
table {
    width: 100%;

}

th {
    text-align: center
}

p {
    text-align: center;
}

footer{
    line-height: normal;
}

img{
    border-radius: 0.32em;
}

img:hover{
    /* height: 0.5%;
    width: 0.5%; */
    box-shadow: 0 0 0.625em rgb(10, 88, 62);
}