.navbar {
  background: linear-gradient(25deg, rgb(182, 68, 68), rgb(39, 137, 170));
  border-bottom: 0.25rem solid rgb(39, 137, 170);
}
.navbar-brand {
  text-shadow: 0 0 0.625rem rgb(39, 137, 170);
  text-align: center;
  width: 100%;
}

.card {
  font-family: Arial, Helvetica, sans-serif;
}

.card-body {
  background: blue url("https://i.ytimg.com/vi/pamj-g7mWaU/maxresdefault.jpg")
    no-repeat;
  background-size: cover;
}

@media (min-width: 991px) {
  .inputs {
    display: inline-flex;
  }
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .row {
    grid-column: 2/5;
  }
}

#temperature,
#select {
  outline: none;
  border: none;
  border-radius: 0.1875rem;
}

#temperature:focus,
#select:focus {
  box-shadow: 0 0 1rem rgb(47, 119, 212);
}

#degree-type {
  margin-left: 0.3125rem;
}

#select {
  margin-left: 1.875rem;
}

.result h2,
#req-degree {
  color: white;
  text-shadow: 0 0 0.625rem black;
}

.converted {
  font-size: 3.75rem;
  color: lightsalmon;
  text-shadow: 0 0 0.625rem black;
}

#convert {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
  outline: none;
  background: linear-gradient(45deg, steelblue, orangered);
  border-radius: 0.1875rem;
  box-shadow: 0 0 0.625rem black;
  font-family: sans-serif;
}

.card-footer {
  background: linear-gradient(30deg, rgb(190, 197, 204), rgb(132, 233, 233));
  text-align: center;
}
